body {
    background-color: #ff0000;
    color: #ffffff;
    padding: 100px;
    box-shadow: 0 0 15px rgba(246, 243, 243, 0.1); 
}

h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#ffffff;
    font-size: 70px;
    border-radius: 25px;
     
   
}

h1:hover{

    color: #030303;
}
.cabecalho{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

table {
            border-collapse: collapse;
            width: 100%;
           
        }

th, td {
            border: 2px solid hsl(0, 0%, 100%);
            text-align: left;
            padding: 15px;
            box-shadow: 0 0 30px rgb(0, 0, 0);
            transition: box-shadow 0.3s ease;
        }

th {
            background-color: #000000;
        }
.botao-calcular {
    background-color: #000000;
    color: #ffffff; 
    border: none;
    padding: 15px 30px;
    border-radius: 10px;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
    }

.botao-calcular:hover {
    background-color: #cc0000;
    }
.botao-calcular:active {
    box-shadow: 0 0 20px rgb(255, 253, 253); 
}

